<?xml version="1.0" encoding="UTF-8"?>

<web-app version="4.0"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
   	http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">

	<display-name>Computer Database Web Application</display-name>

	<error-page>
		<error-code>500</error-code>
		<location>/../views/500.html</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/../views/403.html</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/../views/404.html</location>
	</error-page>

	<servlet>
		<servlet-name>DashboardServlet</servlet-name>
		<servlet-class>com.excilys.cdb.servlet.DashboardServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>DashboardServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AddComputerServlet</servlet-name>
		<servlet-class>com.excilys.cdb.servlet.AddComputerServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AddComputerServlet</servlet-name>
		<url-pattern>/addComputer</url-pattern>
	</servlet-mapping>

	<jsp-config>
		<jsp-property-group>
			<url-pattern>*.jsp</url-pattern>
			<include-prelude>/WEB-INF/jsp/taglibs.jsp</include-prelude>
		</jsp-property-group>
	</jsp-config>

</web-app>